html { font-size: 20 px; font-family: 'Open Snaz', sans-serif; }
h1 { font-size: 60px; text-align: center; }
p, li { font-size:16px; line-height: 2; letter-spacing: 1px; }
table { table-layout: fixed; width:250px;} td{border: 1px solid black; width: 190px; word-wrap: break-word}
html { background-color: #00539F; }
body { width: 970px; margin: 0 auto; background-color: #FF9500; padding: 0 20 px 20 px 20 px; border: 5px solid black}
h1 { margin: 0; padding: 20px 0; color: #00539F; text-shadow: 3px 3px 1px black; }
